.custom-tag-banner,
.custom-category-banner {
  padding-top: 1.5rem;
  width: 100%;
  grid-area: category-banner;
  
  a {
    font-family: Geist;
  }
}

.custom-tag-banner {
  h1 a {
    color: var(--primary-low);
    font-weight: normal;
    .d-icon {
      font-size: var(--font-down-3);
      color: var(--primary-low-mid);
    }
  }
  &_meta {
    background: var(--primary-high);
  }
}
