.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--redditish-border-color);

  &:hover {
    border-bottom: 1px solid var(--redditish-border-highlight-color);
  }

  &:has(.menu-panel:hover) {
    border-bottom: 1px solid var(--redditish-border-highlight-color);
  }
}

.menu-panel {
  &:hover {
    border: 1px solid var(--redditish-border-highlight-color);
  }
}

.menu-panel.drop-down {
  border-radius: 0.375rem;
}

.user-menu .quick-access-panel li, .user-notifications-list li {
  border-radius: 0.375rem;
  margin-top: 0.4rem;

  &:hover {
    border-radius: 0.375rem;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
}

.user-menu.revamped .tabs-list .btn.active, .user-menu.revamped .tabs-list .d-modal.json-schema-editor-modal .je-ready .active.json-editor-btn-add, .d-modal.json-schema-editor-modal .je-ready .user-menu.revamped .tabs-list .active.json-editor-btn-add, .user-menu.revamped .tabs-list .d-modal.json-schema-editor-modal .je-ready button.active, .d-modal.json-schema-editor-modal .je-ready .user-menu.revamped .tabs-list button.active {
  border-radius: 0.375rem;

  &:hover {
    border-radius: 0.375rem;
  }
}

.user-menu.revamped .menu-tabs-container .top-tabs {
  > * + * {
    margin-top: 0.5em;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
}

.user-menu.revamped .menu-tabs-container {
  padding: 0.5em;
  font-size: var(--font-down-1);

  .top-tabs {
    padding-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .bottom-tabs {
    padding-top: 0.5em;
  }
}

.d-header-icons .icon {
  padding: 0.25em !important; // too specific in core
  border-radius: var(--d-button-border-radius);
  margin-left: 0.5em;

  .d-icon {
    font-size: var(--font-up-2);
  }
}

.d-header-icons .active .icon {
  border-color: transparent !important;
}

.header-sidebar-toggle button .d-icon {
  font-size: var(--font-up-2);
  color: var(--primary-medium);
}
