@font-face {
  font-family: Geist;
  src: url($geist) format('woff2')
}

:root {
  --d-button-border-radius: 0.375rem;
  --d-nav-pill-border-radius: 0.375rem;
  --d-input-border-radius: 0.375rem;
  --topic-body-width: 900px;
}

@mixin custom-card {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
  background-color: white;
  .discourse-no-touch & {
    &:hover {
      border: 1px solid var(--redditish-border-highlight-color);
    }
  }
}

@mixin custom-topic-width {
  width: calc(100% - 8em);
  @media screen and (max-width: 924px) {
    width: 100%;
  }
}

@import "badges";
@import "categories";
@import "category-banner";
@import "category-boxes";
@import "chat";
@import "composer";
@import "groups";
@import "header";
@import "right-sidebar";
@import "search";
@import "select-kit";
@import "tag";
@import "topic";
@import "topic-list";
@import "user";
@import "post-voting";

// body {
//   background: var(--redditish-bg-color);
//   background-image: none !important; /* overrides category bg because we use it for banners instead */

//   &.has-sidebar-page #main-outlet-wrapper {
//     grid-template-areas: 
//     "l-sidebar category-banner r-sidebar"
//     "l-sidebar content r-sidebar";
//     grid-template-columns: auto auto auto;
//     gap: 0 2rem;
//   }

//   &:not(.has-sidebar-page) #main-outlet-wrapper {
//     grid-template-areas: 
//     "category-banner r-sidebar"
//     "content r-sidebar";
//     grid-template-columns: 1fr minmax(0, 20rem);
//     grid-column-gap: 2rem;

//     .sidebar-wrapper {
//       display: none;
//     }
//   }

//   #main-outlet-wrapper {
//     width: 100%;
//     display: grid;
//     grid-template-rows: auto auto;
//   }

//   .sidebar-wrapper {
//     grid-area: l-sidebar;
//     width: min-content;
//   }

//   .sidebar-container {
//     min-width: 15rem;
//     max-width: 20rem;
//   }

//   .custom-right-sidebar {
//     min-width: min-content;
//     grid-area: r-sidebar;
//     max-width: 20rem;
//     flex-shrink: 0;
//     flex-grow: 0;
//   }

//   #main-outlet > * {
//     width: 100%;
//     flex-grow: 1;
//   }

//   #main-outlet {
//     grid-area: content;
//     grid-column: 1 / -1;
//   }

//   @media screen and (max-width: 1000px) {
//     .custom-right-sidebar {
//       display: none;
//     }

//     &:not(.has-sidebar-page) #main-outlet-wrapper {
//       grid-template-areas: 
//       "category-banner"
//       "content";
//       grid-template-columns: 1fr;
//       grid-column-gap: 0;
//     }

//     &.has-sidebar-page #main-outlet-wrapper {
//       grid-template-areas: 
//       "l-sidebar category-banner"
//       "l-sidebar content";
//       grid-template-columns: minmax(0, 15rem) 1fr;
//       gap: 0 2rem;
//     }
//   }
// }

body {
  background: var(--redditish-bg-color);
  background-image: none !important; /* overrides category bg because we use it for banners instead */

  &:not(.has-sidebar-page) {
    .sidebar-wrapper {
      background: var(--redditish-bg-color);
    }
  }

  #main-outlet-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* pepesilva.jpg */
  &.tags-page,
  &[class*="navigation-"]:not([class*="archetype-"]),
  &[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      padding-left: 1rem;
      padding-right: 1rem;
      grid-template-areas:
        "category-banner category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";
      grid-template-columns: var(--d-sidebar-width) 1fr minmax(0, 640px) 312px 1fr var(
          --d-sidebar-width
        );
      grid-template-rows: auto 1fr;
      gap: 0 1.5em;

      @media screen and (max-width: 1500px) {
        grid-template-columns: auto 1fr minmax(0, 640px) 312px 1fr auto;
      }

      @media screen and (max-width: 1160px) {
        .custom-right-sidebar {
          display: none;
        }
        grid-template-areas:
          "category-banner category-banner category-banner category-banner category-banner"
          "sidebar lspace content rspace sidebar-spacer";
        grid-template-columns: auto 1fr minmax(0, 640px) 1fr auto;
      }

      @media screen and (max-width: 768px) {
        gap: 0.5em;
      }
    }
  }

  &.has-sidebar-page.tags-page,
  &.has-sidebar-page[class*="navigation-"]:not([class*="archetype-"]),
  &.has-sidebar-page[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      padding-right: 1rem;
      padding-left: 1rem;
      grid-template-areas:
        "sidebar category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";

      @media screen and (max-width: 1160px) {
        .custom-right-sidebar {
          display: none;
        }
        grid-template-areas:
          "sidebar category-banner category-banner category-banner category-banner"
          "sidebar lspace content rspace sidebar-spacer";
        grid-template-columns: auto 1fr minmax(0, 640px) 1fr auto;
      }
    }
  }

  &[class*="user-"],
  &.archetype-regular {
    .custom-tag-banner,
    .custom-category-banner,
    .custom-right-sidebar {
      display: none;
    }
  }
}

.d-modal__container {
  border-radius: 0.375rem;
}

.d-header .header-buttons {
  margin: 0 0 0 0;
}

.header-buttons > .auth-buttons > .btn-small {
  height: 100%;
}

.btn-default,
.btn-primary,
.btn {
  &:not(.btn-icon):not([class*="popup-menu-btn"]) {
    padding: 0.5em 1em;
  }
}

.btn-icon {
  border-radius: var(--d-button-border-radius);
}

.double-button {
  .widget-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--d-button-border-radius);
    border-bottom-left-radius: var(--d-button-border-radius);
  }
  .btn-icon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--d-button-border-radius);
    border-bottom-right-radius: var(--d-button-border-radius);
  }
}

.btn[class*="popup-menu-btn"] {
  border: none;
}

#banner {
  @include custom-card;
}

.sidebar-wrapper {
  background-color: transparent;
}

.sidebar-wrapper .sidebar-sections{
  background-color: transparent;
  border: none;
  padding-right: 1rem;
}

.sidebar-section-wrapper
  .sidebar-section-header.sidebar-section-header-collapsable {
  padding-left: 0;
}

.sidebar-section-content {
  > * + * {
    margin-top: 0.5em;
  }
}

.sidebar-sections {
  > * + * {
    margin-top: 0.5em;
  }
}

.sidebar-section-link-wrapper {
  font-family: Geist;
  border-radius: 0.375rem;
}

.sidebar-section-link, .sidebar-section-header-wrapper, .sidebar-row {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;

  &:hover {
    border-radius: 0.375rem;
  }
}

.sidebar-section-link-wrapper .sidebar-section-link.active {
  border-radius: 0.375rem;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
  border-radius: 0.2rem;
}

.sidebar-section-header-text {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.badge-category {
  &::before {
    border-radius: 0.2rem;
  }
}

.sidebar-section-header-collapsable {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.add-to-sidebar {
  .d-icon-star {
    color: var(--tertiary);
  }
}

.admin-content {
  @include custom-card;
}

.body-page {
  @include custom-card;
}

.powered-by-discourse {
  border: 1px solid var(--primary-500);
  grid-area: content;
  align-self: end;
}

// makes some room for "powered by discourse"

#main-outlet {
  padding-bottom: 2em;
}

html.composer-open #main-outlet {
  padding-bottom: var(--composer-height);
}

h3 {
  font-family: Geist;
}

.d-modal.login-modal .login-right-side, .d-modal.create-account .login-right-side {
  max-width: max-content;
}

.passkey-login-button {
  width: fit-content;
}

.post-voting-button {
  padding-left: 0;
  padding-right: 0;
}

.topic-status-info, .topic-timer-info {
  &:empty {
    border: 0;
    display: none;
  }
}

.user-badge, .user-card .badge-section .more-user-badges a {
  border: 0;
  border-radius: 0.375rem;
}

.user-card, .group-card {
  border-radius: var(--d-button-border-radius);
}

.badge-card {
  border: 0;
}

.user-content {
  padding: 0;
  margin-top: 1em;
}

.new-user-wrapper .user-navigation .nav-pills li a {
  border-radius: var(--d-nav-pill-border-radius);
}

.new-user-wrapper .user-navigation {
  border: 0;
}

.user-main .about .details {
  border: 0;
}

.new-user-wrapper {
  > * + * {
    margin-top: 1em;
  }
}

.user-main .about.collapsed-info .details {
  border: 0;
}